<!-- 字体 -->
<link rel="stylesheet"
      href="https://registry.npmmirror.com/lxgw-wenkai-screen-web/1.520.0/files/lxgwwenkaiscreen/result.css"
      media="print"
      onload="this.media='all'">
<link rel="stylesheet"
      href="https://registry.npmmirror.com/@fontsource/jetbrains-mono/5.2.6/files/index.css"
      media="print"
      onload="this.media='all'">

<!-- 验证 Bing 网站管理员所有者 -->
<meta name="msvalidate.01" content="14966508B095AA4AD48709F773E35797"/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DVWGEXY6TW"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-DVWGEXY6TW');
</script>

<!-- Bing 数据分析 -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () {
            (c[a].q = c[a].q || []).push(arguments)
        };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "5h7acvbrq4");
</script>